body{
  background: #1457A6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15pt;
  font-weight: bold;
}
a{
  color: white;
  text-decoration: none;
  -webkit-animation: fade-in 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
img{
  width: 375px;
  height: 100%;
}
@media and (max-width : 320px){
  img{
    width: 320px;
  }
}
